* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family:overpass;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  h1 {
    color: hsl(0, 0%, 100%);
  }
  p{
    color:hsl(217, 12%, 63%) ;
  }
  
  .card {
    background-color:hsl(217, 12%, 63%);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px ;
    text-align: center;
  }
  
  .card-title {
    font-size: 28px;
    margin-bottom: 15px;
  }
  
  .card-description {
    font-size: 16px;
    margin-bottom: 20px;
    color: hsl(216, 12%, 8%) ;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .btn {
    padding: 10px;
    font-size: 14px;
    color: white;
    background-color:darkblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: grey;
    transform: scale(1.05);
  }
  
  .send-btn {
    margin-top: 20px;
    padding: 12px;
    font-size: 16px;
    color: white;
    background-color:hsl(25, 97%, 53%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .send-btn:hover {
    background-color:orange;
    transform: scale(1.05);
  }
  